.gif-li {
  margin: 25px;
}

.gif-title {
  font-size: 18px;
  @media (min-width: 400px) {
    font-size: 21px;
  }
}

img {
  width: 200px;
  @media (min-width: 400px) {
    width: 300px;
  }
  @media (min-width: 500px) {
    width: 350px;
  }
}
